.navbar { 
    display: flex;
    background-color: #233142;
    height: 75px;
    align-items: center;
    justify-content: space-between;
}

.intro-left { 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro-child { 
    color: #e3e3e3;
}
.right { 
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.link-container { 
    padding: 15px;
}

.link-container:hover { 
    border-bottom: 1px solid rgb(249, 89, 89);
}

.link { 
    list-style-type: none;
    text-decoration: none;
    color: #e3e3e3;
}

.content { 
    position: relative;
    min-height: 100vh;
}

.home-hero { 
      display: flex;
      justify-content: left
      
}

.posts-container { 
    margin: 15px;
    height: 150px;
    width: 250px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px;
}
.intro-child { 
    padding: 5px;
}

.main { 
    height: 350px;
    width: 100vw;
    background-color: #9BA4B5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#e3e3e3;
}

h1 { 
    font-size: 72px;

}
.icon-home { 
    height: 35px;
    width: 35px;
    padding: 10px;
}
.icon-container { 
    display: flex;
}

@media(max-width: 990px) {
    .home-hero { 
        flex-wrap: wrap;
    }
}

/* NAVBAR STYLES */


/* MEDIA QUERIES */ 
